.chat-room-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-color: black;
    border: 5px solid 'black';
    background-color: black;
    height: 90%;
    width: 30%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.title-container {
    padding: 2%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages-container {
    padding: 0;
    margin: 0;
    height: 75%;
}

.room-name {
    padding: 0;
    margin: 0;
    color: yellow;
    font-weight: bold;
    background-color: black;
}

.messages-list {
    background-color: lightgray;
    padding: 1%;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Mantiene el scrroll en la posicion inferior */
}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile devices here */
    /* Ejemplo: */
    .chat-room-container {
        position: absolute;
        right: 20px;
        bottom: 20px;
        border-color: black;
        border: 5px solid 'black';
        background-color: black;
        height: 90%;
        width: 90%;
        padding: 10px;
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 100px auto;
    /* height: 100%; */
    /* width: 100%; */
}

.text-input {
    border: 1px solid yellow;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 10px 50%;
}

.enter-room-button {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: yellow;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.new-message__container {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.new-message__input {
    background-color: black;
    display: flex;
    width: 70%;
    padding: 3%;
    /* height: 40px; */
    margin: 1%;
}

.new-message__button {
    width: 26%;
    padding: 0;
    height: 40px;
    margin: 1%;
}

/* .message-item:nth-child(2n+1) {
    background-color: aqua;
} */

/* .message-item {
    background-color: aqua;
} */

.message-item {
    width: 75%;
    list-style: none;
    border-radius: 10px;
    padding: 3%;
    scroll-snap-align: start; /* Mantiene el scrroll en la posicion inferior */
}

.message-item:last-child {
    background-color: brown;
    /* scroll-snap-align: end; */
}

.my-message {
    background-color: darkblue;
    margin: 0 0 1% 18%; 
}

.received-message {
    background-color: darkgreen;
    margin: 0 18% 1% 1%;
}