.chat-room-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-color: black;
    border: 5px solid 'black';
    background-color: black;
    height: 90%;
    width: 30%;
    padding: 10px;
}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile devices here */
    /* Ejemplo: */
    .chat-room-container {
        position: absolute;
        right: 20px;
        bottom: 20px;
        border-color: black;
        border: 5px solid 'black';
        background-color: black;
        height: 90%;
        width: 90%;
        padding: 10px;
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 100px auto;
    /* height: 100%; */
    /* width: 100%; */
}

.text-input {
    border: 1px solid yellow;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 10px 50%;
}

.enter-room-button {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: yellow;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}
.new-message__container {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.new-message__input {
    background-color: black;
    display: flex;
    width: 70%;
    padding: 3%;
    /* height: 40px; */
    margin: 1%;
}

.new-message__button {
    width: 26%;
    padding: 0;
    height: 40px;
    margin: 1%;
}

/* .message-item:nth-child(2n+1) {
    background-color: aqua;
} */

/* .message-item {
    background-color: aqua;
} */

.messages-list {
    /* background-color: black; */
    padding: 0;
}

.my-message {
    /* position: absolute; */
    /* right: 0px; */
    background-color: darkblue;
    list-style: none;
    margin-left: 20%;
    margin-top: 5%;
    padding: 3%;
    border-radius: 5px;
}

.received-message {
    /* position: absolute; */
    /* left: 0px; */
    background-color: darkgreen;
    list-style: none;
    margin-right: 20%;
    margin-top: 5%;
    padding: 3%;
    border-radius: 5px;
}